{% extends "app/layout.html" %}

{% block content %}

{% load static %}
<br>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>

    <strong> Россияночка: стильная одежда российского производства для деловых женщин </strong><br />
    Россияночка - это торговая сеть женской одежды, которая предлагает широкий ассортимент стильной и качественной продукции российского производства. Мы понимаем потребности деловых женщин и предлагаем одежду, которая сочетает в себе комфорт, элегантность и доступность.<br />

    <div class="image-block">
        <img src="{% static 'app/content/onas.jpg' %}" alt="Our Team" width="1120">
    </div>

    <br /><strong> Наши преимущества:</strong>
    <ul>
        <li>Широкий выбор моделей от 40 до 64 размера</li>
        <li>Высокое качество тканей и пошива</li>
        <li>Соответствие последним модным тенденциям</li>
        <li>Удобные и функциональные фасоны</li>
        <li>Доступные цены</li>
    </ul>

    <div class="image-block">
        <img src="{% static 'app/content/onas1.jpg' %}" alt="Our Team" width="1120">
    </div>

    <strong>Мы предлагаем:</strong><br />
    <ul>
        <li>Блузки и рубашки классического и современного кроя</li>
        <li>Юбки и брюки различных фасонов и материалов</li>
        <li>Платья для офиса, торжественных мероприятий и повседневной жизни</li>
        <li>Жакеты и кардиганы для создания делового и стильного образа</li>
    </ul>

    <div class="image-block">
        <img src="{% static 'app/content/onas2.jpg' %}" alt="Our Team" width="1120">
    </div>

    <strong>Мы стремимся сделать ваши покупки максимально комфортными. Поэтому мы предлагаем:</strong><br />
    <ul>
        <li>Рассрочку, которая позволит Вам приобрести желаемую одежду без ущерба для бюджета</li>
        <li>Удобные примерочные кабинки во всех наших магазинах</li>
        <li>Квалифицированный персонал, который поможет вам подобрать одежду, идеально подходящую по размеру и стилю</li>
    </ul>
    <strong>Наши адреса в Пскове:</strong><br />
    <ul>
        <li>Октябрьский пр., 37/2, ☎8(911)398-28-17</li>
        <li>Советская ул., 9, ☎8(911)392-73-10</li>
        <li>Юбилейная ул., 68 ПИК60 отдел “Петербургский стиль” 2 этаж, ☎ 8(953)237-16-77</li>
        <li>Труда ул., 50, ☎8(911)376-29-17</li>
        <li>Кузбасской див. 19 ТРК Акваполис отдел “YUNA style” 1 этаж, ☎8(951)759-41-17</li>
        <li>Завеличенская ул., 28, ☎8(911)884-28-59</li>
    </ul>
    <strong>Приходите в наши магазины и оцените высокое качество и доступные цены на женскую одежду российского производства. Россияночка - это ваш выбор стиля, комфорта и уверенности в себе!</strong>
</p>



{% endblock %}
